.title {
  font-size: 3rem;
  font-weight: 700;
  // margin: 0;
}

.text-white {
  color: white;
}

// Navigation
h1{
  color: white;
}
ul{
  margin-left: 2rem;
}

li a {
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  margin-right: 2rem;
}
