.title {
  font-size: 3rem;
  font-weight: 700;
  // margin: 0;

  font-style: normal;
  font-weight: bold;
  color: #FCF6F6;
  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.text-white {
  color: white;
}
