@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=The+Girl+Next+Door");

@import "text";
@import "utils";
@import "components";
@import "nicepage";
@import "signin";

html {
  font-size: 16px;
  font-family: "Press Start 2P", cursive;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  font-family: Montserrat;
  background: white;
  margin: 0;
  padding: 0;
}
